@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(circle, rgba(246, 42, 76, 0.25), rgba(245, 129, 61, 0.351));
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: 3.5rem;
  text-align: center;
  cursor: default;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  margin-top: 5rem;
  min-height: 60vh;
  width: 75vw;
  border: .125rem solid black;
  display: flex;
  gap: 1.5rem;
  box-shadow: 0 0 .5rem rgba(0, 0, 0, .7);
}

.box {
  font-size: 3rem;
  width: 6rem;
  height: 6rem;
  text-align: center;
  color: black;
  background: linear-gradient(0deg, rgba(225, 68, 5, 0.5), rgba(250, 196, 60, 0.35));
  cursor: default;
  box-shadow: 0 0 .35rem rgba(0, 0, 0, .8);
  border-radius: .5rem;
}

.box:hover {
  background: linear-gradient(135deg, rgba(225, 68, 5, 0.5), rgba(250, 196, 60, 0.35));
}

.footer {
  width: 75vw;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin-top: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  cursor: default;
}

.justify-content,
.flex-direction,
.align-items {
  display: flex;
  gap: 0.55rem;
  flex-wrap: wrap;
  flex: 1 0 20%;
}

button {
  padding: 0 .5rem;
  border-radius: .25rem;
  border: none;
  font-family: inherit;
  font-size: .85rem;
  cursor: pointer;
  background: linear-gradient(135deg, rgba(5, 5, 5, .1), rgba(240, 19, 63, 0.3));
  color: white;
}

button:active {
  scale: .98;
}

button:hover {
  background: linear-gradient(135deg, rgba(5, 5, 5, .2), rgba(240, 19, 63, 0.6));
}

.active {
  background: linear-gradient(180deg, rgba(241, 70, 8, 0.5), rgba(180, 50, 50, 0.6));
  box-shadow: 0 0 .15rem rgba(0, 0, 0, .8);
}

.active:hover {
  background: linear-gradient(0deg, rgba(241, 70, 8, 0.5), rgba(180, 50, 50, 0.75));
}